/* Shop Page & Categories Page */
.archive .header-block.block-html-after-header {
    display: none !important;
}
.archive .custom-page-title .wp-block-code .hljs,
.archive .custom-page-title .wp-block-code {
    background-color: #fff;
    border: none;
}
.archive .custom-page-title .wp-block-code .hljs a,
.page-title-inner .breadcrumbs a {
    font-weight: 300;
}
.archive .custom-page-title .wp-block-code .hljs .divider,
.page-title-inner .breadcrumbs.yoast-breadcrumb .divider {
    color: #1f1d1d;
    font-size: 1.2rem;
    font-weight: 700;
}
.archive .custom-page-title .wp-block-code .hljs a,
.archive .custom-page-title .wp-block-code .hljs .breadcrumb_last,
.page-title-inner .breadcrumbs.yoast-breadcrumb a,
.page-title-inner .breadcrumbs.yoast-breadcrumb .breadcrumb_last {
    color: #1f1d1d;
    font-family: Jost, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.archive #mydiv h2 {
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Cormorant Garamond", serif;
}
.post-type-archive .shop-page-title {
    display: none;
}
.woocommerce-shop .shop-page-title nav#breadcrumbs {
    display: none;
}
.products .col-inner .box-text.text-center {
     padding-left: 0;
     padding-right: 0;
}
.box-text-inner {
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.07em;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

/* Categories Title decoration */
/* Main container */
#brxe-sgwtpk {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    padding-bottom: 20px;
}
/* Left and right container */
.brxe-divider {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}
/* A line with a gradient */
.line {
    width: 88px;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* Heading style */
.brxe-heading {
    margin: 0 15px; /* Add a space to the left and right of the title */
}
.heading__line--left .line {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.heading__line--right .line { /* Right line: gradient from left to right */
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}

/* Categories Page */
.tax-product_cat .product-small.box {
    display: none;
}
.tax-product_cat .category-page-title {
    padding-top: clamp(0px, calc((70 / (1500 - 320)) * (100vw - 320px)), 70px);
}
.tax-product_cat .row.category-page-row .col {
    padding-bottom: 50px;
}
.tax-product_cat .category-page-title,
.tax-product_cat .page-title-bg.fill,
.tax-product_cat #main {
    background-color: #f0f0f0;
}
/* First row */
/* The main container grid */
.tax-product_cat .custom-category-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin: 0 auto;
    align-items: stretch; /* Alignment of elements by height */
}
/* Common style for all grid elements */
.tax-product_cat .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box; /* Include padding in the calculation of the total height */
}
/* The main container for the category image block */
.tax-product_cat .grid-item.category-image {
    padding-top: clamp(2.4rem, calc(0.6vw + 2.208rem), 3rem);
    padding-bottom: clamp(2.4rem, calc(0.6vw + 2.208rem), 3rem);
}
/* Styles for the category image */
.tax-product_cat .grid-item.category-image .category-image__img img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-bottom: 25px;
    object-fit: cover; /* Ensure the correct display of the image, if it is larger or smaller than the required size */
}
/* Styles for category name */
.tax-product_cat .grid-item.category-image .category-name {
    font-size: 1.3rem;
    color: #1f1d1d;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: 0.07em;
}
/* Styles for the product block */
.tax-product_cat .grid-item.product img {
    max-width: 250px;
    height: auto;
    margin: 20px 20px 0 20px;
}
.grid-item.product .product-info h2 {
    color: #000;
    font-size: clamp(1.333rem, calc(0.456vw + 1.242rem), 1.618rem);
    font-weight: 400;
    padding: 0 20px;
}
.tax-product_cat .starting-from {
    margin-bottom: 0.5em;
}
.tax-product_cat .starting-from,
.tax-product_cat .starting-from .amount {
    color: #000;
    font-size: clamp(1.125rem, calc(0.4vw + 1.045rem), 1.375rem);
    font-weight: 300;
    line-height: calc(1.4);
}
.tax-product_cat .term__injection-title {
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 3px solid #1f1d1d;
}
.tax-product_cat .grid-item.product {
    background-color: #fff;
}

/* Show Now Button */
.shop__btn {
    margin-bottom: 20px;
    padding: 0.5em 1em;
    max-width: 230px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #1F1D1D;
    text-transform: uppercase;
    font-weight: 400;
    gap: 10px;
    transition: all 0.5s ease;
    color: #1F1D1D;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.shop__btn svg {
    stroke: #1F1D1D; /* Темний колір іконки */
    transition: all 0.5s ease;
}

.grid-item.product:hover .shop__btn {
    background-color: #1F1D1D;
    color: #fafafa;
}

.grid-item.product:hover .shop__btn svg {
    fill: #fafafa;
}

@media (max-width: 900px) {
    .tax-product_cat .custom-category-grid {
        grid-template-columns: 1fr 1fr; /* Two columns on tablets */
    }
}

.tax-product_cat .medium-flex-wrap {
     flex-flow: nowrap !important;
}

@media (max-width: 768px) {
    .tax-product_cat .custom-category-grid {
        grid-template-columns: 1fr; /* One column on mobile devices */
    }
}
