/* Top Bar Menu in Header */
/* Search Input */
.header-top li.current-dropdown>.nav-dropdown {
    border: 4px solid #fff;
    font-size: clamp(1rem, calc(0.2vw + 0.96rem), 1.125rem);
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0);
    left: 6px;
    top: 30px;
    min-width: 800px;
    padding: 0;
}
.searchform .search-field::placeholder {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 1;
}
.searchform .search-field {
    background-color: #1f1d1d;
    border: none;
    color: #fff;
    font-size: 1.3rem;
    height: 1.3rem;
    vertical-align: bottom;
}
.searchform .search-field:focus {
    box-shadow: none;
    opacity: 1 !important;
    outline: 0;
    color: #fff;
    background-color: #1f1d1d;
}
.nav-dropdown-has-border .nav-dropdown {
    border: 2px solid #fff;
}
.search-form .ux-search-submit.button.icon {
    display: none;
}
.header .logo-left #logo {
    display: none;
}
.header .nav {
    justify-content: center;
}
.header #top-bar .flex-row {
    border-bottom: 1px solid gray;
    padding: 0 0 15px 0;
}
.top-bar-nav .phone__icon .icon {
    margin-right: 10px;
}
.top-bar-nav .phone__icon .text {
    color:  #fafafa;
    font-size: 20px;
    font-weight: 400;
    vertical-align: super;
}
.top-bar-nav .menu-item .nav-top-link {
    font-size: 20px;
}
.top-bar-nav .menu-item#menu-item-84 a.nav-top-link {
    color: #1f1d1d;
    background-color:  #fafafa;
    border: 1px solid #1f1d1d;
    border-radius: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.top-bar-nav .menu-item#menu-item-84 a.nav-top-link:hover {
    color: #fafafa;
    background-color: #1f1d1d;
    border: 1px solid #fafafa;
    border-radius: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.product .is-divider {
    height: 0;
}

@media (max-width: 850px) {
    .searchform .search-field {
        padding: 20px;
    }
}