/* Top Footer in Footer */
.footer-wrapper .footer-1 .row {
    display: grid;
    grid-template-columns: 35% 21% 25% 21%;
    max-width: none;
}
.footer-wrapper .footer-1 .row .col {
    max-width: none;
}
.footer-1 .brxe-block .brxe-text-link {
    display: block;
    margin-bottom: 20px;
}
.footer-1 .brxe-logo img {
    margin-bottom: 140px;
}
.footer-1 .brxe-block .icon {
    margin-right: 10px;
}
.footer-1 .brxe-block .text {
    font-size: 20px;
    font-weight: 200;
}
.footer-1 #brxe-uxrptp {
    display: flex;
    width: 80px;
    justify-content: space-between;
}
.footer-1 .col .widget-title {
    color:  #1f1d1d;
    font-size: 24px;
    font-weight: 400;
}
.footer-1 .is-divider {
    height: 0;
}